* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #829985;
}

.nav {
  display: flex;
  justify-content: end;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style-type: none;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}